# MOOC Python Challenge Leila O'Brien

In [6]:
#Task 1- Use Pandas to read in the sales data from the CSV file provided in the “student materials” folder on Slack (sales_dataset.csv)

In [15]:
#Import pandas for data analysis
#Import numpy to to work with numerical data
import pandas as pd 
import numpy as np

In [16]:
#When the df is printed the customer name appeared below the rest of the table so I expanded the output display
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [17]:
#Import and open csv file
import pandas
df = pandas.read_csv(r"C:\Users\leila\OneDrive\FromYourPhone\Documents\Python MOOC\sales_dataset.csv")
print(df)

                Product Name     Category  Sale Price  Quantity Sold    Customer Name
0                   T-shirts     Clothing       10.99             20       John Smith
1               Levi's Jeans     Clothing       59.99             18   Samantha Davis
2               Dyson Vacuum         Home      599.99              2   David Williams
3                 Sunglasses  Accessories       21.22             15   Kelly Williams
4                 Headphones  Electronics        8.99             40      Chris Brown
5              Water bottles  Accessories       14.14             22          Amy Lee
6                  Backpacks  Accessories       18.99             27    William Smith
7                       Hats  Accessories       29.99             35      Emily Davis
8                      Books        Media       11.99             18   Robert Johnson
9                       Toys         Toys       17.99             29   Kimberly White
10                    Apples         Food       10.99             32  Michael Johnson
11                Lawn mower      Outdoor      123.99             24   Samantha Davis
12            Samsung Galaxy  Electronics      899.99              5         Jane Doe
13                 iPhone 13  Electronics     1299.99              3     Mark Johnson
14        Lululemon Yoga Mat      Fitness       89.99             15   Kelly Williams
15            Picture frames   Home decor       41.99              2   Sarah Anderson
16                   Candles   Home decor        3.49             19        Kevin Lee
17               Apple Watch  Electronics      399.99              4   Robert Johnson
18         Oakley Sunglasses  Accessories      149.99             12   Kimberly White
19           Fitbit Charge 5      Fitness      149.99              9  Michael Johnson
20              Harry Potter        Media       15.99             25       John Smith
21               Phone cases  Electronics       12.04             25     Mark Johnson
22           Nest Thermostat         Home      249.99              6  Elizabeth Brown
23        Sony PlayStation 5  Electronics      499.99              4       John Smith
24      Michael Kors Handbag  Accessories      349.99              8         Jane Doe
25             Ninja Blender      Kitchen      129.99             10      Chris Brown
26      Under Armour T-Shirt     Clothing       29.99             30          Amy Lee
27           Amazon Echo Dot  Electronics       39.99             20      Emily Davis
28          Patagonia Fleece     Clothing      119.99              6   Robert Johnson
29     Schwinn Exercise Bike      Fitness      499.99              3  Michael Johnson
30  Cuisinart Food Processor      Kitchen      199.99              4   Samantha Davis
31      iRobot Roomba Vacuum         Home      399.99              2   David Williams
32            Sonos Soundbar  Electronics      799.99              1  Elizabeth Brown

In [5]:
#Task 2- Calculate the total sales for each product 

#Assign a new variable called 'total_sales' to record the total sales price for product
#Multiply 'Sale Price' by 'Quantity Sold'
#Multiply using *

total_product_sales = df['Sale Price'] * df['Quantity Sold']
print(total_product_sales)

0      219.80
1     1079.82
2     1199.98
3      318.30
4      359.60
5      311.08
6      512.73
7     1049.65
8      215.82
9      521.71
10     351.68
11    2975.76
12    4499.95
13    3899.97
14    1349.85
15      83.98
16      66.31
17    1599.96
18    1799.88
19    1349.91
20     399.75
21     301.00
22    1499.94
23    1999.96
24    2799.92
25    1299.90
26     899.70
27     799.80
28     719.94
29    1499.97
30     799.96
31     799.98
32     799.99
dtype: float64

In [68]:
#Task 2 continued
# I created a revised version of the df called product_sales and added a column to the table to show the total_product_sales
#I removed the index from the table results because this affected the way the data was presented

product_sales = df.assign(total_product_sales = df['Sale Price'] * df['Quantity Sold'])
print(product_sales.to_string(index=False))

            Product Name    Category  Sale Price  Quantity Sold   Customer Name  total_product_sales
                T-shirts    Clothing       10.99             20      John Smith               219.80
            Levi's Jeans    Clothing       59.99             18  Samantha Davis              1079.82
            Dyson Vacuum        Home      599.99              2  David Williams              1199.98
              Sunglasses Accessories       21.22             15  Kelly Williams               318.30
              Headphones Electronics        8.99             40     Chris Brown               359.60
           Water bottles Accessories       14.14             22         Amy Lee               311.08
               Backpacks Accessories       18.99             27   William Smith               512.73
                    Hats Accessories       29.99             35     Emily Davis              1049.65
                   Books       Media       11.99             18  Robert Johnson               215.82
                    Toys        Toys       17.99             29  Kimberly White               521.71
                  Apples        Food       10.99             32 Michael Johnson               351.68
              Lawn mower     Outdoor      123.99             24  Samantha Davis              2975.76
          Samsung Galaxy Electronics      899.99              5        Jane Doe              4499.95
               iPhone 13 Electronics     1299.99              3    Mark Johnson              3899.97
      Lululemon Yoga Mat     Fitness       89.99             15  Kelly Williams              1349.85
          Picture frames  Home decor       41.99              2  Sarah Anderson                83.98
                 Candles  Home decor        3.49             19       Kevin Lee                66.31
             Apple Watch Electronics      399.99              4  Robert Johnson              1599.96
       Oakley Sunglasses Accessories      149.99             12  Kimberly White              1799.88
         Fitbit Charge 5     Fitness      149.99              9 Michael Johnson              1349.91
            Harry Potter       Media       15.99             25      John Smith               399.75
             Phone cases Electronics       12.04             25    Mark Johnson               301.00
         Nest Thermostat        Home      249.99              6 Elizabeth Brown              1499.94
      Sony PlayStation 5 Electronics      499.99              4      John Smith              1999.96
    Michael Kors Handbag Accessories      349.99              8        Jane Doe              2799.92
           Ninja Blender     Kitchen      129.99             10     Chris Brown              1299.90
    Under Armour T-Shirt    Clothing       29.99             30         Amy Lee               899.70
         Amazon Echo Dot Electronics       39.99             20     Emily Davis               799.80
        Patagonia Fleece    Clothing      119.99              6  Robert Johnson               719.94
   Schwinn Exercise Bike     Fitness      499.99              3 Michael Johnson              1499.97
Cuisinart Food Processor     Kitchen      199.99              4  Samantha Davis               799.96
    iRobot Roomba Vacuum        Home      399.99              2  David Williams               799.98
          Sonos Soundbar Electronics      799.99              1 Elizabeth Brown               799.99

In [22]:
#Task 3- Determine the average sale price for each product category 
#To find average: add total sales for each catergory (+) and divide by quantity sold (/)

#I created a new variable to record the total sales for each category and changed the column name
#category_sales_totals= 
product_sales = product_sales.rename(columns={'total_product_sales': 'total_category_sales'})

#Next, I grouped by category and found the total category sales
category_sales= pd.DataFrame(product_sales.groupby(['Category']).sum().sort_values('total_category_sales'))
print (category_sales)

             Sale Price  Quantity Sold  total_category_sales
Category
Home decor        45.48             21                150.29
Food              10.99             32                351.68
Toys              17.99             29                521.71
Media             27.98             43                615.57
Kitchen          329.98             14               2099.86
Clothing         220.96             74               2919.26
Outdoor          123.99             24               2975.76
Home            1249.97             10               3499.90
Fitness          739.97             27               4199.73
Accessories      584.32            119               6791.56
Electronics     3960.97            102              14260.23

In [40]:
#Task 3 continued
#After finding the total_category_sales for each category, I found the avaerage_category_sales by dividing the total_category_sales column by the Quantity Sold column.
category_sales['average_category_sales'] = category_sales['total_category_sales'].div(category_sales['Quantity Sold'])
#Print results to two decimal places
print(category_sales.round(2))

             Sale Price  Quantity Sold  total_category_sales  Average_category_sales
Category
Home decor        45.48             21                150.29                    7.16
Food              10.99             32                351.68                   10.99
Toys              17.99             29                521.71                   17.99
Media             27.98             43                615.57                   14.32
Kitchen          329.98             14               2099.86                  149.99
Clothing         220.96             74               2919.26                   39.45
Outdoor          123.99             24               2975.76                  123.99
Home            1249.97             10               3499.90                  349.99
Fitness          739.97             27               4199.73                  155.55
Accessories      584.32            119               6791.56                   57.07
Electronics     3960.97            102              14260.23                  139.81

In [ ]:
Identify the month with the highest sales and the month with the lowest sales